@media screen and (max-width: 360px) {
    .for-media-img {
        width: 150px !important;
    }

    
    .for-media-task-btn {
        left: 38px !important;
    }
    
    .for-media-news-btn {
        left: 17px !important;
    }
    .for-media-news {
        width: 135px !important;
        margin-right: -30px !important;
        padding-top: 15px !important;
    }

    .for-media-task {
        width: 90px !important;
    }

}

@media screen and (max-width: 340px) {
    .for-media-img {
        width: 140px !important;
    }
    .for-media-news-btn {
        left: 24px !important;
    }
    .for-media-news {
        width: 115px !important;
        margin-right: -25px !important;
        padding-top: 20px !important;
    }
}

@media screen and (max-width: 320px) {
    .for-media-img {
        width: 130px !important;
    }
}

@media screen and (max-width: 300px) {
    .for-media-img {
        width: 120px !important;
    }
}